
body {
    background-image: url(img/sky-bg.jpg);
    background-attachment: fixed;
  }

div {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    background-color: rgba(76, 104, 107, 0.7);
    font-size: large;
}