table{
    margin-top: 15px;
    margin-left: 10%;
    border: 1px solid;
    border-collapse: collapse;
}

td{
    border: 1px solid;
    text-align: center;
}

.common 
{
    font-style: italic;
    height: 20px;
}

#aspect {
    background-color: #fff0a2;
}

#period {
    background-color: #fff0a2;
}

#simple {
    background-color: #d1d1ff;
}

#progressive {
    background-color: #ffc2c2;
}

#perfect {
    background-color: #b2ffd1;
}

#perprog{
    background-color: #ffc2ff;
}

.present {
    height: 140px;
}


#periodoftime {
    font-size: x-small;
    font-style: italic;
    height: 30px;

}

#inside {
   width: 15px;
    background-color: #fff0a2;
}