#blocks {
    display: flex;
    justify-content: center;
}

#green {
    width: 150px;
    height: 150px;
    background-color: green;
    margin: 10px;
    margin-right: 20px;

}

#yellow {
    width: 150px;
    height: 150px;
    background-color: yellow;
    margin: 10px;
    margin-right: 20px;
}

#pink {
    width: 150px;
    height: 150px;
    background-color: pink;
    margin: 10px;
    margin-right: 20px; 
}

#center-block {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }


#box {
    width: 150px;
    height: 150px;
    background-color: grey;
    margin: 10px;
    
}